body {
    margin: auto; /* center in viewport */
    font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
    width: 900px;
    padding-bottom: 100px;
}

header {
    text-align: center;
    margin:auto;
    width:700px;
}

.intro {
    text-align: left;
    width: 600px;
    margin:auto;
}

footer {
    margin: 40px 0;
    padding: 10px 0 0 0;
    text-align: center;
    border-top: 1px dashed #ccc;
    font-size:0.9em;
}

strong {
    font-weight: 600;
}

select {
    width: 60%;
    min-width: 300px;
    max-width: 600px;
}

.hidden {
    display: none;
}

.pure-button {
    color: white;
    border-radius: 4px;
    text-shadow: none;
    background: #ccc; 
}

.pure-button-active {
    color: #fff;
    text-shadow: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221); /* this is a light blue */
    /*background: rgb(28, 126, 157); this is a darker blue*/
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.2) inset;
    
}

.centered {
    text-align: center;
}

.map {
    width:400px;
    height:220px;
    margin:auto;
}

.legend {
    width: 150px;
    display: inline-block;
}

#reduct_map {
    width: 600px;
    height: 330px;
}

path {
    transition: fill 500ms linear;
    -o-transition: fill 500ms linear;
    -moz-transition: fill 500ms linear;
    -webkit-transition: fill 500ms linear;
}

.region {
    fill: #bbb;
}


.region_bdry {
    fill: none;
    stroke: #777;
}

.empty { fill: #bbb; }
.active { stroke: white; stroke-width: 1.5px;}

/* ColorBrewer yellowish-red */
#chrgLegend .q0-5, .hrr_chrg .q0-5 { fill:rgb(255,255,204); }
#chrgLegend .q1-5, .hrr_chrg .q1-5 { fill:rgb(245,204,92); }
#chrgLegend .q2-5, .hrr_chrg .q2-5 { fill:rgb(253,141,60); }
#chrgLegend .q3-5, .hrr_chrg .q3-5 { fill:rgb(240,59,38); }
#chrgLegend .q4-5, .hrr_chrg .q4-5 { fill:rgb(189,0,38); }

/* yellowish to blue */
#pmtLegend .q0-5, .hrr_pmt .q0-5 { fill:rgb(255,255,204); }
#pmtLegend .q1-5, .hrr_pmt .q1-5 { fill:rgb(161,218,180); }
#pmtLegend .q2-5, .hrr_pmt .q2-5 { fill:rgb(65,182,196); }
#pmtLegend .q3-5, .hrr_pmt .q3-5 { fill:rgb(44,127,184); }
#pmtLegend .q4-5, .hrr_pmt .q4-5 { fill:rgb(37,52,148); }

/* yellowish to green */
#reductLegend .q0-5, .hrr_reduct .q0-5 { fill:rgb(255,255,204); }
#reductLegend .q1-5, .hrr_reduct .q1-5 { fill:rgb(194,230,153); }
#reductLegend .q2-5, .hrr_reduct .q2-5 { fill:rgb(120,198,121); }
#reductLegend .q3-5, .hrr_reduct .q3-5 { fill:rgb(49,163,84); }
#reductLegend .q4-5, .hrr_reduct .q4-5 { fill:rgb(0,104,55); }